# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
oz/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Dist and build directories
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
